/* ========== */
/* = RESET = */
/* ========== */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:after,:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html { 
	overflow-x:hidden; 
	-webkit-text-size-adjust:none;
	/*cursor: url(../images/home/hand_ico.ico),auto;*/
}

body {
	min-width: 320px;
	font-size: 14px;
	color: #666;
	font-family: "Microsoft Yahei",-apple-system,"PingFang SC","Helvetica Neue",STHeiti,Tahoma,Simsun,sans-serif;
	-webkit-overflow-scrolling: touch;
}

body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, b, small, u, i, center, dl, dt, dd, ol, ul, li,  sub, sup, tt, var, del, dfn,  ins, kbd, q, s, samp,  strike, applet, object, iframe, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, blockquote, pre, a, abbr, acronym, address, big, cite, code, mark, audio, video, input, textarea, select { margin:0; padding:0;}

ul,ol,li,dl{
  list-style: none;
}

/*RESET A*/
* { text-decoration: none!important;}
a,
a:visited,
a:active,
a:hover,
a:focus { 
	text-decoration:none!important; 
	outline:none; 
	star: expression_r(this.onFocus=this.blur());
}
a {
  color: #666;
}
/* HTML5 RESET THE OLD BROWERS*/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
table { border-collapse: collapse; border-spacing: 0; }
 
/*CLEAR the FLOAT*/
.clear { clear:both}
.clearfix { *zoom:1;}
.clearfix:after{
	clear:both; 
	display:block; 
	height:0; 
	visibility:hidden; 
	line-height:0; 
	content:'\20';
}

.bgFull{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

/*RESET the FORM*/
fieldset { border: 0!important;}
input, button, textarea, select { font-size:100%; outline:none; resize:none; font-family: "Microsoft Yahei",-apple-system,"PingFang SC","Helvetica Neue",STHeiti,Tahoma,Simsun,sans-serif;}
input[type="button"]{cursor:pointer; border:0}
input[type="submit"]{cursor:pointer; border:0}
input[type="reset"]{cursor:pointer; border:0}
input, textarea{-webkit-appearance:none;} 
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{ border:none; padding:0; }


input::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder { color: #666666;}
input:-moz-placeholder, 
textarea:-moz-placeholder { color: #666666;}
input::-moz-placeholder, 
textarea::-moz-placeholder { color: #666666;}
input:-ms-input-placeholder, 
textarea:-ms-input-placeholder { color: #666666;}


/*RESET IMAGES*/
img { 
	display: block;
	max-width: 100%;
	border: 0;
	margin: 0 auto;
}

/*IMAGE CENTER*/
.vertical-center {
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: absolute; 
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*RESET FONTS*/
.t2 { text-indent: 2em;}
em { font-style: normal;}
.overf {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


/*LAYOUT*/
.w1200 {
	width: 100%;
	max-width: 1340px;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 70px;
}
.w1280 {
	width: 100%;
	max-width: 1420px;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 70px;
}
.pc-block { display: block;}
.mb-block { display: none;}


@media (max-width:999px) {
	.pc-block { display: none;}
	.mb-block { display: block;}
	
	.w1200 {
		padding: 0 15px;
	}
	.w1280 {
		padding: 0 15px;
	}
}

.transition {
	-webkit-transition: all ease .4s;
	   -moz-transition: all ease .4s;
	    -ms-transition: all ease .4s;
	     -o-transition: all ease .4s;
	        transition: all ease .4s;
}

.b-shadow{
	-o-box-shadow:0 0 25px rgba(0,0,0,.1); 
	-ms-box-shadow:0 0 25px rgba(0,0,0,.1);
	-moz-box-shadow:0 0 25px rgba(0,0,0,.1);
	-webkit-box-shadow:0 0 25px rgba(0,0,0,.1);
	box-shadow:0 0 25px rgba(0,0,0,.1);
}
@font-face {
	font-family:"MINIONPRO";
	src: url(../font/MINIONPRO-MEDIUM.OTF);
}



.page-wrap{ padding-top: 90px; }
/* ========== */
/* = PC-HEADER = */
/* ========== */
.pc-header{ position: fixed; top:0; left:0; width: 100%; background: #FFFFFF; padding: 0 70px; z-index: 999; -webkit-box-shadow:0 0 25px rgba(0,0,0,.08); box-shadow:0 0 25px rgba(0,0,0,.08);}
.pc-header .logo{ float: left;}
.topsub{ float:right; margin-top: 27px; line-height:36px; }
.topsub .tel{ margin-left: 25px; display: inline-block; vertical-align:middle; color: #333333; padding-left: 30px; background: url(../image/ico_tel.png) no-repeat left; letter-spacing:1px;}
.topsub a{ display: inline-block; vertical-align:middle;}
.topsub .lan{ margin-left: 35px; color: #333333; background: url(../image/ico_earth.png) no-repeat left; padding-left: 30px; letter-spacing:1px;}
.topsub .lan:hover{ color: #7cb92f;}
.topsub .trial{ margin-left: 15px; background: #7cb92f; color: #FFFFFF; padding:0 18px; border-radius: 3px; letter-spacing:2px;}
.topsub .anum{ margin-left:10px;color: #333333; line-height: 34px; padding:0 15px; border-radius: 3px; border: 1px solid #7cb92f;}
.topsub .anum:hover{ color: #7cb92f;}


.nav{ float: right; padding-right: 15px; position: relative;}
.nav:before{ content: ""; position: absolute; top:50%; right:0; width: 1px; height: 16px; background: #eeeeee; margin-top: -8px;}
.nav li{ float: left; position: relative; padding: 0 15px; text-align: center;}
.nav li a{ display: block; line-height: 90px; height: 90px; letter-spacing: 2px;}
.nav li span{ padding-right:23px; display: block; position: relative;}
.nav li span:after{ content: ""; position: absolute; top:42px; right:0; display: block; width: 0px; height: 0px; border-style:solid  dashed dashed dashed; border-color:#7cb92f transparent transparent transparent ; border-width:7px;}
.nav li:hover>a,
.nav li.current>a,
.nav li:hover>span a,
.nav li.current>span a{ color: #78b822;}
.nav li:hover div{ display: block; }
.nav li div{ display: none; position: absolute; top:90px; left:50%; margin-left: -80px; width:160px; background: rgba(0,0,0,.7);}
.nav li div a{ line-height: 38px; height:38px; letter-spacing: 1px; color: #FFFFFF;}
.nav li div a:hover{ background: rgba(0,0,0,.8);color: #78b822;}



/* ========== */
/* = PC-FOOTER= */
/* ========== */
.pc-footer{ padding:0px 8.8% 0; background: #676767;}
.pc-footer .content{ padding-bottom: 70px;}
.pc-footer .flogo{ float: left;}
.pc-footer .fnav{ float: right;}
.pc-footer .fnav li{ float: left; margin-left: 55px;}
.pc-footer .fnav li a{ display: block; line-height: 36px; color: #cccccc; font-size: 12px;}
.pc-footer .fnav li span a{ margin-bottom:15px; font-size: 16px; color: #e2e2e2;}
.pc-footer .fnav li a:hover{color: #FFFFFF;}
.pc-footer .fnav li span a:hover{ color: #FFFFFF;}

.foot-text-link{ margin-bottom: 20px; text-align: right; }
.foot-text-link a{color: #cccccc; font-size: 12px;}
.foot-text-link a:hover{color: #FFFFFF;} 

.copyright{ padding: 30px 0; line-height: 30px; border-top: 1px solid rgba(255,255,255,.2); color: #bcbcbc;}
.copyright .left{ float: left; padding-left: 10px;}
.copyright .left a{color: #bcbcbc;}
.copyright .left a:hover{color: #FFFFFF;}
.copyright .right{ float:right;}
.copyright .right a{ vertical-align: middle; display: inline-block; color: #bcbcbc; font-size: 12px;}
.copyright .right a:hover{ color:#CCCCCC;}
.copyright .right span{ margin: 0 10px; display: inline-block; vertical-align: middle;} 
.copyright .right .ico{ position: relative; margin-left: 20px; width: 30px; height: 30px; }
.copyright .right .ico span{width: 30px; height: 30px; opacity: .4;}
.copyright .right .ico-weixin{ background-image: url(../image/ico_weixin.png);}
.copyright .right .ico-weibo{  background-image: url(../image/ico_weibo.png);}
.copyright .right .ico:hover span{ opacity: 1;}
.copyright .right .ico:hover .weixin{ display: block;}
.copyright .right .ico .weixin{ display:none; position: absolute; bottom:40px; left:50%; margin-left: -58px; width: 116px;}


/* ========== */
/* = FIXED-SUB = */
/* ========== */
.fixed-sub{ position: fixed; z-index:999; right:0; bottom:7%; width: 75px; z-index: 999;}
.fixed-sub.active{-webkit-transform: translateX(100%); -moz-transform: translateX(100%); -ms-transform: translateX(100%); -o-transform: translateX(100%); transform: translateX(100%);  }
.fixed-sub .close{ cursor:pointer; position: absolute; top:-16px; right:0; height:16px; line-height: 16px; padding: 0 3px; background: #cccccc;  color: #36353a;}
.fixed-sub .close span{ display: inline-block; margin-left:4px; vertical-align: middle; font-size: 12px;}
.fixed-sub .close img{ display: inline-block; vertical-align: middle; }
.fixed-sub li{ margin-bottom: 1px; position: relative; line-height: 16px;}
.fixed-sub li a{ display: block; width:75px; height:75px; background: #7cb92f; color: #fff; padding-top: 8px; font-size:12px; text-align:center; }
.fixed-sub li span{ display: inline-block; width:35px; height: 35px; }
.fixed-sub li .icon-01{ background: url(../image/fixed_ico_01h.png);}
.fixed-sub li .icon-02{ background: url(../image/fixed_ico_02.png);}
.fixed-sub li .icon-03{ background: url(../image/fixed_ico_03.png);}
.fixed-sub li .icon-04{ background: url(../image/fixed_ico_04.png);}
.fixed-sub li .icon-05{ background: url(../image/fixed_ico_05.png);}
.fixed-sub li .tel{ display:none; position: absolute; top:0; right:0; width: 250px;background: #7cb92f; border-radius:5px 0 0 5px; overflow:hidden; color: #FFFFFF; text-align: left;}
.fixed-sub li .tel a{ display: inline-block; vertical-align: middle;}
.fixed-sub li .tel i{ display: inline-block; vertical-align: middle; font-size: 20px; position: relative; font-style:normal;padding-left: 20px;}
.fixed-sub li .tel i:before{ content: ""; position: absolute; top:50%; left:0; width: 1px; height: 48px; margin-top: -24px; background: #FFFFFF; opacity: .4;}
.fixed-sub li:hover a{ background: #7cb92f; color: #FFFFFF;}
.fixed-sub li:hover .icon-01{ background: url(../image/fixed_ico_01h.png);}
.fixed-sub li:hover .icon-02{ background: url(../image/fixed_ico_02h.png);}
.fixed-sub li:hover .icon-03{ background: url(../image/fixed_ico_03h.png);}
.fixed-sub li:hover .icon-04{ background: url(../image/fixed_ico_04h.png);}
.fixed-sub li:hover .tel{ display: block;}



@media (max-width:1580px) {
	
}
@media (max-width:1500px) {
	/* ========== */
	/* = PC-HEADER = */
	/* ========== */
	.pc-header{ padding: 0 50px;}
	.nav li{ padding: 0 10px;}
	.nav li span{ padding-right: 18px;}
	.topsub .trial{ margin-left: 15px;}
	.topsub .tel{ margin-left: 15px;}
	.topsub .lan{ margin-left: 15px;}	
}

@media (max-width:1320px) {
	/* ========== */
	/* = PC-HEADER = */
	/* ========== */
	.nav li span{ padding-right: 0;}
	.nav li span:after{ display: none;}
	
	/* ========== */
	/* = PC-FOOTER= */
	/* ========== */
	.pc-footer .fnav li{ margin-left:40px;}
}

@media (max-width:1160px) {
	/* ========== */
	/* = PC-HEADER = */
	/* ========== */
	.nav:before,
	.topsub .tel,
	.topsub .lan{ display: none;}
	
	/* ========== */
	/* = PC-FOOTER= */
	/* ========== */
	.pc-footer{ padding:110px 70px 0;}
	.pc-footer .fnav li{ margin-left: 30px;}
	.pc-footer .fnav li span a{ font-size: 14px;}
}







.home-tit{ font-size: 36px; color: #36353a; letter-spacing: 10px; text-align: center;}
.home-more{ display:block; width: 250px; height: 62px; line-height: 62px; background: #FFFFFF; color: #7cb92f; text-align: center; letter-spacing: 2px;  border-radius:5px; }
.home-more-green{ background: #7cb92f; color: #FFFFFF;-moz-box-shadow:0 10px 10px rgba(124,185,47,.5); -webkit-box-shadow:0 10px 10px rgba(124,185,47,.5); box-shadow:0 10px 10px rgba(124,185,47,.5);}


/* ========== */
/* = MESSAGE-BOX= */
/* ========== */
.message-box{ padding: 60px 50px; }
.message-box .content{ margin:55px auto 0; max-width: 1200px;}
.message-box .in{float: left; width: 33.333333333%; padding:0 20px;}
.message-box .in span{ display: block; color: #333333; letter-spacing:2px;}
.message-box .in span i{ color: #cc0000; font-style: normal; font-weight: bold; }
.message-box .in input,
.message-box .in select{ margin-top: 15px; width: 100%; height:46px; padding:10px; border: 1px solid #e5e5e5; background: #ffffff; border-radius: 3px; color: #333;}
.message-box .in p{ font-size: 12px; margin-top:8px; color: #888; }
.message-box .row:nth-child(2) .in{ margin-top: 45px;}
.message-box .home-more{ margin: 55px auto 0;}


.ui-multiselect.mySelect{  margin-top: 15px; cursor:pointer;}
.ui-multiselect.mySelect .ui-multiselect-menu { padding: 0;}
.ui-multiselect.mySelect .ui-multiselect-checkboxes li { padding: 5px;}
.ui-multiselect.mySelect {
	border: 1px solid #333;
	height: 46px;
	line-height: 40px;
	font-size: 14px;
	color: #333;
	background: #fff;
	overflow: hidden;
}
.ui-multiselect.mySelect{position: relative;border: 1px solid #e1e1e1;padding: 0 25px 0 10px; height: 46px; line-height: 44px; font-size: 14px;color: #333;background: #fff;overflow: hidden;}
.ui-multiselect.mySelect .ui-icon{position: absolute;top: 3px;right: 10px;height: 100%;}
.ui-multiselect.mySelect.ui-state-active .ui-icon,
.ui-multiselect.mySelect .ui-button:active .ui-icon{}
.ui-icon-triangle-1-s{background-position: 0 0;}
.ui-multiselect.mySelect span:nth-child(2){display: block;color: #333;float: left;}
.ui-multiselect.mySelect .ui-multiselect-checkboxes label{padding-left: 5px;}
.ui-multiselect-checkboxes label input{-webkit-appearance: checkbox;}
.ui-multiselect-checkboxes label.active{ background: #d8e4c8; }


@media (max-width:999px) {
	.home-tit{ font-size:0.5rem; font-weight: bold; letter-spacing: 0;}
	.home-more{ width: 160px; height: 50px; line-height:50px; letter-spacing:1px;}
	
	/* ========== */
	/* = MESSAGE-BOX= */
	/* ========== */	
	.message-box{ padding: 1.5rem 0;}
	.message-box .content{ margin-top:20px;}
	.message-box .in{ width: 100%; margin-top:0.6rem;}
	.message-box .row:nth-child(2) .in{ margin-top: 0.6rem;}
	.message-box .home-more{ margin-top:50px;}
}




/* ========== */
/* = MOBILE HEADER = */
/* ========== */
.mb-header{ position:fixed; width: 100%; top:0; right:0; width: 100%; background: #FFFFFF; z-index: 999; -webkit-box-shadow:0 0 25px rgba(0,0,0,.08); box-shadow:0 0 25px rgba(0,0,0,.08);}
.mb-header .mb-logo{ float: left; display:block;}
.mb-header .mb-logo img{ margin: 0; display:block; vertical-align: top; height:1.5rem;}
.mb-nav-ico { position: absolute; right:0.375rem; top: 50%; margin-top: -0.25rem; width:0.6875rem; height:0.5rem; cursor: pointer;}
.mb-nav-ico .line {	position: absolute;left: 0;display: block; height:2px;width: 100%; background: #2d2d2d; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
.mb-nav-ico .line:nth-child(1) { top: 0;}
.mb-nav-ico .line:nth-child(2) { top: 50%; margin-top: -1px;}
.mb-nav-ico .line:nth-child(3) { bottom: 0;}
.mb-nav-ico.active .line:nth-child(2){ opacity: 0;}
.mb-nav-ico.active .line:nth-child(1){top: 50%; margin-top: -1px;transform: rotate(-45deg);}
.mb-nav-ico.active .line:nth-child(3){ top: 50%; margin-top: -1px; transform: rotate(45deg);}

@media (max-width:999px){
	.page-wrap{ position: relative; padding-top: 1.5rem; padding-bottom: 1.55rem;}
}



/* ========== */
/* = MENU = */
/* ========== */
.shade { display: none; position: fixed;  width: 100%; height: 100%; right: 0; top: 0; z-index: 999; display: none; background: transparent;}
.menu { position: fixed; left: 100%; top: 0;  width: 70%; height: 100%; text-align: left; z-index: 11111;overflow-y: scroll;  background: #FFFFFF;  -webkit-box-shadow:0 0 30px rgba(26,24,24,.1) inset;  box-shadow:0 0 30px rgba(26,24,24,.1) inset;}
.menu li { position: relative;}
.menu li>span { display: block; position: relative; padding: 0 0.666666rem 0 1.493333rem; height: 1.36rem; line-height: 1.36rem; color: #767676; font-size: 0.35rem; border-bottom: 1px solid #e9e9e9;}
.menu li:nth-child(1)>span { border-top: 1px solid #e9e9e9;}
.menu ul li>span::before { content: ''; position: absolute; left: 0.666666rem; top: 50%; margin-top: -0.133333rem; width: 0.266666rem; height: 0.266666rem; border: 2px solid #75bb00; border-radius: 100%;}
.menu ul li a{ color: #322e2d;}
.menu ul li>span.default::after { content: ''; position: absolute; right: 0.666666rem; top: 50%; width: 0.32rem; height: 0.32rem; margin-top: -0.16rem; background: url(../image/menu_bg.png) no-repeat; background-size: cover;}
.menu-slide a { color: #7c7d7d; }
.menu-slide { display: none;}
.menu-slide a { position: relative; display: block; padding: 0 0.666666rem 0 1.493333rem; height: 1.333333rem; line-height: 1.333333rem; font-size: 0.32rem; color: #7c7d7d; border-bottom: 1px solid #e9e9e9;}
.menu-slide a::before { content: ''; position: absolute; left: 0.666666rem; top: 50%; margin-top:-0.10625rem;  width:0.266666rem; height:0.266666rem; background: url(../image/menu_bg3.png) no-repeat; background-size: cover; }
.menu-slide a:hover,
.menu-slide a.active { background: #75bb00; color: #FFFFFF;}
.menu li>span.active a { color: #75bb00;}
.menu li>span.active::before { color: #fff; background: #75bb00; border-color: #75bb00;}
.menu li>span.active::after { content: ''; position: absolute; right: 0.666666rem; top: 50%; width: 0.32rem; height: 0.32rem; margin-top: -0.16rem; background: url(../image/menu_bg2.png) no-repeat center;}


/* ========== */
/* = MB FOOTER = */
/* ========== */
.mb-copright{ padding:0.46rem .4rem; background: #f3f3f3; font-size:0.266666rem; color:#bbbbbb;}
.mb-copright a{  color:#bbbbbb; }
.mb-footer{ position:fixed; bottom:0; right:0; width: 100%; height:1.55rem; background:#84c836; background-image: linear-gradient(300deg,#3ea5b7,#85c835); z-index: 999;}
.mb-footer li { float: left; width: 33.3333%; border-left: 1px solid rgba(255,255,255,.2); }
.mb-footer li:first-child{ border-left: none;}
.mb-footer li a{ display:block; cursor: pointer;  height: 1.55rem; padding-top: 0.133333rem; color: #FFFFFF; text-align: center;}
.mb-footer li img{ width: 0.8rem;}
.mb-footer li p { margin-top:0.08rem; font-size: 0.275rem; height:0.32rem; line-height: 0.32rem;}



/* ========== */
/* = 404 = */
/* ========== */
.main-404{  padding: 10% 0; text-align: center;}
.main-404 img{ margin-bottom: 40px;}
.main-404 .p1{ margin-bottom: 10px;}